body
{
    background-color: rgb(51, 27, 27);
    font-family:serif;
    font-size: 25px;
    color:rgba(233, 233, 217, 0.801);
    text-align:center;
}

li
{
    list-style-type: none;
    display: inline;
    text-align: center;
    padding:10%;

}

hr
{
    color:lightcoral;
}

li a
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, rgb(100, 27, 27) 25%);
    color:rgba(233, 233, 217, 0.801);
    text-decoration: none;
    font-size: 0.9em;
    line-height: 1.5em;
    background-position: -0% 0;
    background-size: 410% auto;
    text-decoration: none;
    transition: background-position 0.3s ease-out;
    position:absolute;
    bottom:10px;
    


}

.firsthead
{
    color:lightcoral;
    font-size:75%;
}

.Dotted
{
    border: 1px dashed white;
    width: 50%;
}

.div_img
{
    border: 12px double rgba(233, 233, 217, 0.801);
    position: absolute;
    top:325px;
    right: 695px;
    
}

.div_img2
{
    border: 12px double rgba(233, 233, 217, 0.801);
    position: absolute;
    top:275px;
    right: 1700px;
    
}

.div_img3
{
    width: 6.95%;
    border: 12px double rgba(233, 233, 217, 0.801);
    position: absolute;
    top:525px;
    right: 1700px;
    
}

.div_img4
{
    width: 6.95%;
    position: absolute;
    top:300px;
    right: 1700px;
}

.Snake
{
    color:whitesmoke;
    position:absolute;
    top:658px;
    left:58px;
}

.Title
{
    color:rgba(233, 233, 217, 0.801);
    font-size: 50px;
    text-align: center;
}


.HawkPara
{
    color: whitesmoke;
    position:absolute;
    top:305px;
    left:200px

}

.Hawk
{
    color:whitesmoke;
    position:absolute;
    top:405px;
    left:45px;
}

a 
{
    text-decoration: none;
    color:whitesmoke;
}

body li a:hover{
    background-position: -99.99% 0;
}


.SnakePara
{
    color: whitesmoke;
    position:absolute;
    top:560px;
    left:200px
}


.email
{
    color:whitesmoke;
    position:absolute;
    top:320px;
    left:200px
}

.div_img5
{
    width: 8.2%;
    color:whitesmoke;
    position:absolute;
    top:470px;
    left:43px
}

.github
{
    color:whitesmoke;
    position:absolute;
    top:500px;
    left:200px
}

.div_img6
{
    width: 8%;
    color:whitesmoke;
    position:absolute;
    top:670px;
    left:45px
}

.discord
{
    color:whitesmoke;
    position:absolute;
    top:695px;
    left:200px
}